

  <div class="card">
    <p-table [value]="roles()" editMode="row" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template #caption>
        <div class="flex items-center justify-between">
          <span class="text-xl font-bold">Ruoli</span>
          <p-button icon="pi pi-refresh" rounded raised (click)="doRefresh()"/>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th>Nome</th>
          <th>Read</th>
          <th>Modify</th>
          <th>Read PDF</th>
          <th>Write PDF</th>
         </tr>
      </ng-template>
      <ng-template #body let-role let-editing="editing" let-ri="rowIndex">
        <!-- Riga non modificabile -->
        <tr [pEditableRow]="role">
         <td>
           <p-cellEditor>
             <ng-template #input>
               <input
                 pInputText
                 type="text"
                 [(ngModel)]="role.name" />
             </ng-template>
             <ng-template #output>
               {{role.name}}
             </ng-template>
           </p-cellEditor>
         </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <p-toggleswitch  [(ngModel)]="role.read" onLabel="On" offLabel="Off" styleClass="w-24" />
              </ng-template>
              <ng-template #output>
                <p-chip [icon]="role.read ? 'pi pi-check' : 'pi pi-times'" />
              </ng-template>
            </p-cellEditor>


          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <p-toggleswitch  [(ngModel)]="role.modify" onLabel="On" offLabel="Off" styleClass="w-24" />
              </ng-template>
              <ng-template #output>
                <p-chip [icon]="role.modify ? 'pi pi-check' : 'pi pi-times'" />
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <p-toggleswitch  [(ngModel)]="role.read_pdf" onLabel="On" offLabel="Off" styleClass="w-24" />
              </ng-template>
              <ng-template #output>
                <p-chip [icon]="role.read_pdf ? 'pi pi-check' : 'pi pi-times'" />
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <p-toggleswitch  [(ngModel)]="role.read_history" onLabel="On" offLabel="Off" styleClass="w-24" />
              </ng-template>
              <ng-template #output>
                <p-chip [icon]="role.read_history ? 'pi pi-check' : 'pi pi-times'" />
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <div class="flex items-center justify-center gap-2">
              <button
                *ngIf="!editing"
                pButton
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="onRowEditInit(role)"
                text
                rounded
                severity="secondary"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pSaveEditableRow
                icon="pi pi-check"
                (click)="onRowEditSave(role)"
                text
                rounded
                severity="secondary"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pCancelEditableRow
                icon="pi pi-times"
                (click)="onRowEditCancel(role, ri)"
                text
                rounded
                severity="secondary"
              ></button>
            </div>
          </td>
        </tr>


      </ng-template>

      <ng-template #footer> In total there are {{ roles() ? roles().length : 0 }} roles. </ng-template>
    </p-table>
  </div>

