<div class="card">
  <p-table [value]="users" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <span class="text-xl font-bold">Utenti</span>
        <p-button icon="pi pi-refresh" rounded raised />
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Ruolo</th>
        <th>Attivo</th>
        <th>Connesso</th>
        <th>Pdf Report</th>
      </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
         <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.enable }}</td>
        <td>{{ user.enableInternet }}</td>
      </tr>
    </ng-template>
    <ng-template #footer> In total there are {{ users ? users.length : 0 }} users. </ng-template>
  </p-table>
</div>
