<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <p-card header="Login" [style]="{ width: '360px' }">
    <div class="field">
      <p-iftalabel>
        <input pInputText id="email" formControlName="email" [fluid]="true" placeholder="Type your email"
               [ngClass]="{'ng-dirty ng-invalid': loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)}"
        />
        <label for="email">Username</label>
      </p-iftalabel>
      @if (loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)) {
        <p-message severity="error" variant="simple" size="small">Email is required</p-message>
      } @else if (loginForm.get('email')?.hasError('email') && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)) {
        <p-message severity="error" variant="simple" size="small">Email should be valid</p-message>
      }
    </div>
    <div class="field">
      <p-iftalabel>
        <p-password formControlName="password" id="password" placeholder="Type your password"
                    [fluid]="true"
                    [feedback]="false"
                    [toggleMask]="true" />
        <label for="password">Password</label>
      </p-iftalabel>
      @if (loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)) {
        <p-message severity="error" variant="simple" size="small">Password is required</p-message>
      }
    </div>
    <p-button
      label="Login"
      styleClass="w-full"
      [disabled]="loginForm.invalid"
      type="submit"
    ></p-button>
  </p-card>
</form>


<div class="flex flex-col">
  <p-toast position="top-right"></p-toast>
</div>
